.modal-backdrop {
  /* display: inline-flex; */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  height: 90%;
  width: 45%;
  background-color: #fff;
  position: absolute;
}

.modal-content-small {
  height: 80%;
  width: 45%;
  background-color: #fff;
  position: absolute;
}


.modal-header,
.modal-footer {
  padding: 10px;
  float:right;
}

.modal-title {
  /* position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  font-size:36px
  color: #000000; */
  /* margin: 30px; */
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.modal-title-small {
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.modal-image {
    height: 70%;
    display: block;
    margin: auto;
    position: relative;
    padding: .5vw;
}

.modal-image-small {
  height: 70%;
  display: block;
  margin: auto;
  position: relative;
  padding: 3vw;
}

.button {
  background-color: transparent;
  border: none;
}

.modal-author {
  /* margin: 10px; */

  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.modal-date {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  padding-bottom: .5vw;
  color: #828282;
}

.modal-address {
  margin-top: -8vh;
  font-size: 14px;
  padding-right: 1vw;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  white-space: pre-line;
  float: right;
<<<<<<< HEAD
  text-align: right;
=======
>>>>>>> main
}

.modal-body {
  height: 70%;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-left: 3vw;
}

.modal-tags {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  border-radius: 10px;
  background: #ffdc83;
  padding: 4px;
  font-size: 14px;
  width: 8%;
}